<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/htmx.min.js"></script>
    <script src="/static/APlayer.min.js"></script>
    <link rel="stylesheet" href="/static/APlayer.min.css" />
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
      eruda.init();
    </script>
    <title>YTDL Music Player</title>
  </head>
  <body>
    <nav>
      <form id="queries">
        <fieldset>
          <legend></legend>
          <div>
            <label for=""></label>
            <input
              id="search-box"
              type="text"
              name="url"
              placeholder="Nhap URL vao day..."
            />
            <input
              type="text"
              name="album"
              placeholder="album"
              value="{{album}}"
            />
          </div>
          <input
            hx-get="/add"
            hx-params="*"
            hx-include="#queries"
            type="submit"
          />
        </fieldset>
      </form>
    </nav>
    <div id="player"></div>

    <script>
      function loadAlbum() {
        fetch("/list?album={{album}}")
          .then((response) => response.json())
          .then(
            (data) =>
              new APlayer({
                container: document.getElementById("player"),
                mini: false,
                autoplay: false,
                theme: "#FADFA3",
                loop: "all",
                order: "random",
                preload: "auto",
                volume: 0.7,
                mutex: true,
                listFolded: false,
                listMaxHeight: 90,
                lrcType: 3,
                audio: data,
              })
          )
          .catch((err) => console.log(err));
      }
      document.addEventListener("htmx:afterOnLoad", function (event) {
        loadAlbum();
        document.querySelector("#search-box").value = "";
      });
    </script>
  </body>
</html>
